<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <Bootstrap> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!--js-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />

    <title>나만의 블로그</title>
    <style>

    </style>
    <script>

        function confirm_login() {
            if (localStorage.getItem("token")) {
                alert("이미 로그인이 되어있습니다");
                window.location.replace("/");
            };
        }

        function logout() {
            if (!localStorage.getItem("token")) {
                alert("로그인을 먼저 해주세요")
                window.location.reload();
                return;
            }

            alert("로그아웃이 완료되었습니다.")
            localStorage.removeItem('token')
        }

        function btn_write() {
            if (!localStorage.getItem("token")) {
                alert("로그인을 먼저 해주세요")
                window.location.reload();
                return;
            }

            window.location.replace('/write')
        }

        function show_contens() {
            $.ajax({
                type: 'GET',
                url: '/api/posting',
                data: {},
                dataType: 'JSON',
                async: true,
                success: function (response) {
                    const posts = response['list']
                    for (let i = 0; i < posts.length; i++) {
                        const id = posts[i]['_id']
                        const title = posts[i]['title']
                        const name = posts[i]['name']
                        const date = posts[i]['date'].slice(0, 10)
                        const temp_html = `<tr>
                                                <td><a onclick="location.href='/detail/${id}'">${title}</a></td>
                                                <td>${name}</td>
                                                <td>${date}</td>
                                            </tr>`
                        $('#contents-box').append(temp_html)
                    }
                }
            }
            )
        }

        $(document).ready(function () {
            show_contens();
        })
    </script>
</head>

<body>
    <button onclick="btn_write()">글쓰기</button>
    <button onclick="location.href='/login', confirm_login()" id="login">로그인</button>
    <button onclick="logout()">로그아웃</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">제목</th>
                <th scope="col">작성자명</th>
                <th scope="col">작성일</th>
            </tr>
        </thead>
        <tbody id="contents-box">
        </tbody>
    </table>
</body>

</html>