<html>

<head>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">제목</span>
    <input type="text" id='title' class="form-control" placeholder="제목을 입력해주세요." aria-label="Username"
        aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">작성자명</span>
    <input type="text" id='name' class="form-control" placeholder="작성자명을 입력해주세요." aria-label="Username"
        aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">비밀번호</span>
    <input type="text" id='passWord' class="form-control" placeholder="비밀번호를 입력해주세요." aria-label="Username"
        aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">내용</span>
    <input type="text" id='contents' class="form-control" placeholder="내용을 입력해주세요." aria-label="Username"
        aria-describedby="basic-addon1">
</div>

<button class="button is-info has-text-white is-focus" id="btn_wirte">글쓰기</button>

<script>
    $('#btn_wirte').click(function() {
            const date = new Date().toISOString();
            $.ajax({
                type: 'POST',
                async: true,
                url: '/api/posting',
                data: {
                    title: $("#title").val(),
                    name: $("#name").val(),
                    passWord: $("#passWord").val(),
                    contents: $("#contents").val(),
                    date: date,
                },
                dataType: 'JSON',
                success: function () {
                    alert("작성을 완료했습니다.")
                    window.location.replace('/')
                }
            })
    })
</script>

</html>